.new-arrival {
  text-align: center;
  font-family: Marcellus;
  font-size: 50px;
  margin-top: 160px;
}

.grid-tovary {
  margin: 0;
  margin-top: 110px;
  display: grid;
  grid-template-columns: 349px 409px 314px 443px;
  row-gap: 65px;
}

#t2 {
  margin-left: 20px;
}

#t3 {
  margin-left: 65px;
}

#t4 {
  width: 400px;
}

#t5 {
  margin-left: 40px;
}

#t6 {
  margin-left: 65px;
  display: inline-block;
}

#t7 {
  margin-right: 120px;
}

#t8 {
  margin-left: 60px;
  width: 380px;
}

.addToCart {
  position: absolute;
  border: none;
  cursor: pointer;
  background-color: rgb(56, 142, 60);
  color: white;
  padding: 7px 15px 7px 15px;
  font-family: Josefin Slab;
  font-weight: bold;
  font-size: 18px;
}

#divBtm {
  position: relative;
}

.B1 {
  bottom: 85px;
  right: -57px;
}

.B2 {
  bottom: 55px;
  right: 4px;
}

.more-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 150px;
}

.pervoe {
  text-align: center;
}

#spring-summer {
  font-family: Josefin Slab;
  color: rgb(67, 160, 71);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

#weHave {
  font-family: Marcellus;
  font-size: 50px;
  margin-bottom: 20px;
}

#allOur,
#we-offer {
  font-family: Josefin Sans;
  font-size: 20px;
  color: rgb(153, 153, 153);
}

.shopNow {
  border: none;
  cursor: pointer;
  background-color: rgb(56, 142, 60);
  color: white;
  padding: 15px 50px 12px 50px;
  font-family: Josefin Slab;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.vtoroe {
  text-align: center;
  position: relative;
}

#d2img {
  margin-top: 70px;
}

#Beauti {
  font-size: 50px;
  font-family: Josefin Sans;
  position: absolute;
  top: 10px;
  right: 192px;
  width: 330px;
}

#plants {
  font-family: Josefin Slab;
  color: rgb(67, 160, 71);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 66px;
}

#organie,
#store {
  font-family: Marcellus;
}

#organie {
  font-size: 100px;
}

#store {
  font-size: 70px;
}
