.nameOf {
  background-color: rgb(241, 255, 245);
  text-align: center;
  height: 200px;
}

#nameOfPage {
  font-size: 50px;
  font-family: Marcellus;
}

#nameOfPage2 {
  font-size: 24px;
  font-family: Josefin Sans;
  color: rgb(153, 153, 153);
}
